In [1]:
import pandas as pd
import numpy as np

In [12]:
import glob
import pyarrow.dataset as ds

dfs = []
files = glob.glob("/scratch/users/schuetzn/data/mhc_dataset/*/metadata.parquet")
for file in files:
    df = pd.read_parquet(file)
    break

In [13]:
df

,data_coverage,n,sum,sum_of_squares,date,original_time_offset
0,0.000000,0.0,NaN,NaN,2018-09-19,-300.0
1,0.000000,0.0,NaN,NaN,2018-09-19,-300.0
2,0.000000,0.0,NaN,NaN,2018-09-19,-300.0
3,0.000000,0.0,NaN,NaN,2018-09-19,-300.0
4,0.000000,0.0,NaN,NaN,2018-09-19,-300.0
...,...,...,...,...,...,...
19,14.444444,208.0,NaN,NaN,2020-12-10,-300.0
20,0.000000,0.0,NaN,NaN,2020-12-10,-300.0
21,0.138889,2.0,NaN,NaN,2020-12-10,-300.0
22,0.000000,0.0,NaN,NaN,2020-12-10,-300.0
23,0.625000,9.0,NaN,NaN,2020-12-10,-300.0

In [10]:
df

,data_coverage,n,sum,sum_of_squares,date,original_time_offset
0.0,0.000000,0.0,NaN,NaN,2018-09-19,-300.0
1.0,0.000000,0.0,NaN,NaN,2018-09-19,-300.0
2.0,0.000000,0.0,NaN,NaN,2018-09-19,-300.0
3.0,0.000000,0.0,NaN,NaN,2018-09-19,-300.0
4.0,0.000000,0.0,NaN,NaN,2018-09-19,-300.0
...,...,...,...,...,...,...
19.0,0.972222,14.0,NaN,NaN,2016-01-03,-480.0
20.0,0.000000,0.0,NaN,NaN,2016-01-03,-480.0
21.0,0.000000,0.0,NaN,NaN,2016-01-03,-480.0
22.0,0.000000,0.0,NaN,NaN,2016-01-03,-480.0
23.0,0.833333,12.0,NaN,NaN,2016-01-03,-480.0